---
title: Ember.js Resources on EmberWatch
layout: application
---

<div id="posts">
  <div class="twelve columns">

  <dl class="tabs">
  <dd class="active"><a href="#talks">Talks</a></dd>
  <dd><a href="#screencasts">Screencasts</a></dd>
  <dd><a href="#tutorials">Tutorials</a></dd>
  <dd><a href="#books">Books</a></dd>
  <dd><a href="#examples">Examples</a></dd>
  <dd><a href="#releases">Releases</a></dd>
  <dd><a href="#podcasts">Podcasts</a></dd>
</dl>
<ul class="tabs-content">
  <li class="active" id="talksTab">
    <ul>
      <% data.talks.each do |talk| %>
        <li id="talk-<%= talk.id %>">
          <% if talk.videos.empty? %>
            <h5>
              <%= "#{talk.title}" %><%= ": #{talk.subtitle}" if talk.subtitle %> <% if talk.event_id %><span class="event-name"><%= " #{find_event(talk.event_id).name}" %></span><% end %>
            </h5>
          <% else %>
            <h5>
              <a href="<%= talk.videos.first %>">
                <%= "#{talk.title}" %><%= ": #{talk.subtitle}" if talk.subtitle %></a><% if talk.event_id %><span class="event-name"><%= " #{find_event(talk.event_id).name}" %></span><% end %>
            </h5>
          <% end %>
          <%= talk.author_ids.collect {|a| find_person(a).name }.join(', ') %>
           &middot; <%= format_date(talk.date) %> &middot;
          <% if talk.videos.empty? %>
          Video
          <% else %>
          <a href="<%= talk.videos.first %>">Video</a>
          <% end %> &middot;
          <% if talk.slides.nil? %>
          Slides
          <% else %>
            <a href="<%= talk.slides %>">Slides</a>
          <% end %>
          <% if talk.url %>
          &middot; <a href="<%= talk.url %>">Details</a>
          <% end %>
        </li>
      <% end %>
    </ul>
  </li>
  <li id="screencastsTab">
    <ul>
      <% data.screencasts.each do |screencast| %>
        <li>
          <% if screencast.videos.empty? %>
            <h5>
              <%= screencast.title %><%= ": #{screencast.subtitle}" if screencast.subtitle %>
            </h5>
          <% else %>
            <h5>
              <a href="<%= screencast.videos.first %>">
                <%= screencast.title %><%= ": #{screencast.subtitle}" if screencast.subtitle %>
              </a>
              <%= "&nbsp;&nbsp;#{screencast.price}" if screencast.price %>
            </h5>
          <% end %>
          <%= screencast.author_ids.collect {|a| find_person(a).name }.join(', ') %>
           &middot; <%= format_date(screencast.date) %> &middot;
          <% if screencast.videos.empty? %>
          Video
          <% else %>
          <a href="<%= screencast.videos.first %>">Video</a>
          <% end %> &middot;
          <a href="<%= screencast.url %>">Details</a>
        </li>
      <% end %>
    </ul>
  </li>
  <li id="tutorialsTab">
    <ul>
      <% data.tutorials.each do |tutorial| %>
        <li>
          <h5>
            <a href="<%= tutorial.urls.first %>">
              <%= "#{tutorial.title}" %>
            </a>
          </h5>
          <%= tutorial.author_ids.collect {|a| find_person(a).name }.join(', ') %>
           &middot; <%= format_date(tutorial.date) %> &middot;
          <% if tutorial.urls.count > 1 %>
            <% tutorial.urls.each_with_index do |url, index| %>
              <a href="<%= url %>">Part <%= index+1 %></a><%= " &middot;" unless index == tutorial.urls.count-1 %>
            <% end %>
          <% else %>
            <a href="<%= tutorial.urls.first %>">Tutorial</a>
          <% end %>
          <% if tutorial.code %>
            &middot; <a href="<%= tutorial.code %>">Code</a>
          <% end %>
        </li>
      <% end %>
    </ul>
  </li>
  <li id="booksTab">
    <ul>
      <% data.books.each do |book| %>
        <li>
          <h5>
            <a href="<%= book.url %>">
              <%= book.title %>
            </a>
            <%= "&nbsp;&nbsp;#{book.price}" if book.price %>
          </h5>
          <%= book.author_ids.collect {|a| find_person(a).name }.join(', ') %> &middot;
          <%= book.publisher %> &middot;
          <a href="<%= book.url %>">Details</a>
        </li>
      <% end %>
    </ul>
  </li>
  <li id="examplesTab">
    <ul>
      <% data.examples.each do |example| %>
        <li>
          <h5>
            <a href="<%= example.code %>">
              <%= "#{example.title}" %>
            </a>
          </h5>
          <% if example.url %>
            <a href="<%= example.url %>">Description</a> &middot;
          <% end %>
          <% if example.demo %>
            <a href="<%= example.demo %>">Demo</a>
          <% end %>
        </li>
      <% end %>
    </ul>
  </li>
  <li id="releasesTab">
    <ul>
      <% data.releases.each do |release| %>
        <li>
          <h5>
            <a href="https://github.com/emberjs/ember.js/tree/<%= release.git %>">
              <%= release.name %>
            </a>
          </h5>
          <%= format_date(release.date) %> &middot; 
          <a href="https://github.com/emberjs/ember.js/blob/<%= release.git %>/CHANGELOG">
            Changelog
          </a>
          <% if release.blog %>
            &middot; <a href="<%= release.blog %>">
              Announcement
            </a>
          <% end %>
        </li>
      <% end %>
    </ul>
  </li>
  <li id="podcastsTab">
    <ul>
      <% data.podcasts.each do |podcast| %>
        <li>
          <h5>
            <a href="<%= podcast.url %>">
              <%= podcast.title %></a><span class="event-name"><%= " #{podcast.host} ##{podcast.episode}" %></span>
          </h5>
          <%= podcast.member_ids.collect {|m| find_person(m).name }.join(', ') %>
           &middot; <%= format_date(podcast.date) %> &middot;
           <%= podcast.duration %>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
<hr>

  </div>
</div>
